// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.page-wrapper {
    display: grid;
    grid-template-areas: 'h h'
                         'n n'
                         'c c'
                         'f f';
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 60px auto 1fr 50px;
    min-height: 100vh;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    grid-area: h;
    align-items: center;
    justify-content: center;
    background-color: rgb(45,156,219);

    h1 {
        color: white;
    }
}
.navbar-wrapper {
    grid-area: n;

}

.form-group a {
    color: white;
    border-radius: 15px;
}

.sidebar-wrapper {
    grid-area: s;
    grid-template-columns: 2fr;
    background-color: rgb(45,156,219);

    li {
        list-style-type: none;

        a {
            color: black;
        }
    }
}

.content-wrapper {
    grid-area: c;
    display: grid;
}

.footer-wrapper {
    display: flex;
    grid-area: f;
    background-color: rgb(45,156,219);
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 15px;
}

// .card-img-top {
//     height: 150px;
//     width: 150px;
//     border-radius: 50%;
//     margin-left: 45px;
//     shape-outside: circle();
// }
//
// .card {
//     padding: 20px;
// }

.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}

.profile-card-2 .card-body{
    position:relative;
}

.profile-card-2 .profile {
    border-radius: 50%;
    position: absolute;
    top: -42px;
    left: 15%;
    max-width: 75px;
    border: 3px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}

.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}

.profile-card-2 .icon-block{
    float:left;
    width:100%;
}

.profile-card-2 .icon-block a{
    text-decoration:none;
}

.profile-card-2 i {
    display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}

.profile-card-2 i:hover {
    background-color:#6ab04c;
    color:#fff;
}


@media (max-width: 991px) {
    .navbar li a {
        font-size: 2em;
    }

    .btn {
        font-size: 1em;
    }

    .logo {
        height: 2em;
        width: 2em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: .7em;
    }

    .footer-wrapper {
        font-size: 2em;
    }

    .card-title {
        font-size: 1.5em;
    }

    .card {
        font-size: 1.5em;
    }

    .form-group {
        font-size: 5em;
    }

    .form-control {
        font-size: .5em;
    }

    .comment-card {
        font-size: .8em;
    }
}
